<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">
<head>
<title th:text="#{top}+' | '+ #{shop.title}"> </title>
<meta charset="UTF-8" />
</head>
<body class="user index">
	<div class="hero-banner">
		<div class="hero-content">
			<h2 class="hero-title">協創する未来のECサイト</h2>
			<p class="hero-subtitle">私たちと一緒に、新しいショッピング体験を創り上げましょう。</p>
		</div>
	</div>

	<div class="section-header">
		<h2 class="title">
				<span th:if="${sortType==1}" th:text="#{sort.latest.title}"></span>
				<span th:if="${sortType==2 || sortType==null}" th:text="#{sort.hotsell.title}"></span>
		</h2>
	</div>
	<div th:if="${#lists.isEmpty(items)}">
		<p th:text="#{msg.client.item.list.none}"></p>
	</div>
	<div class="item_list">
	<th:block th:each="item, status: ${items}" th:if="${status.count le 10}">
		<!--/* 1件分の商品情報 */-->
		<div class="item">
			<div class="item_name" th:text="${item.name}"></div>
			<div class="image-wrapper">
				<a th:href="@{/client/item/detail/}+${item.id}">
					<img th:src="@{/images/{image}(image=${item.image})}" th:if="${item.image != null}" />
					<img th:src="@{/images/common/no_image.jpg}" th:if="${item.image == null}" />
				</a>
			</div>
			<div class="description" th:text="${item.price} + '円'"></div>
			<div class="user-rating">★ 4.5</div>
		</div>
	</th:block>
	</div>
</body>
</html>